/* Applies to the entire body of the HTML document (except where overridden by more specific
selectors). */
body {
}

/* Applies to all <h1>...</h1> elements. */

h1 {
  font-size: 35px;
  font-weight: normal;
  position:absolute;                  
  top: 500;
  color: white;
  text-align: right;
  font-family: "Arial, Helvetica, sans-serif";    
}

h2 {
  font-size: 35px;
  font-weight: normal;
  position:absolute;                   
  color: white;
  text-align: right;
  font-weight: bold;
  font-family: "Arial, Helvetica, sans-serif";    
}



/* Applies to all elements with <... class="someclass"> specified. */
.someclass { color: red; }

/* Applies to the element with <... id="someid"> specified. */
#someid { color: green; }